# PostgreSQL
POSTGRES_DB=carousel_ai
POSTGRES_USER=carousel_user
POSTGRES_PASSWORD=changeme

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
JWT_SECRET=change_this_to_a_very_long_random_string
JWT_EXPIRATION_MS=time_expiration_(seconds)

# Portas dos serviços
AUTH_PORT=Auth_Port
AI_PORT=AI_Port